services:
  mysql:
    image: mysql:latest
    container_name: eat-mysql
    environment:
      # Local dev info
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: eat
      MYSQL_USER: mysql-eat
      MYSQL_PASSWORD: etimo
    volumes:
      - ./docker/mysql:/var/lib/mysql
    ports:
      - '3308:3306'

  redis:
    image: redis/redis-stack:7.2.0-v10
    container_name: eat-redis
    environment:
      # Local dev info
      REDIS_ARGS: '--requirepass etimo'
    volumes:
      - ./docker/redis:/var/lib/redis
    ports:
      - '6379:6379'

  backend:
    container_name: eat-backend
    build:
      context: .
      dockerfile: ./apps/eat-backend/Dockerfile
    volumes:
      - ./apps/eat-backend/:/app/apps/eat-backend
    environment:
      TZ: Europe/Stockholm
      JWT_SECRET: EtimoActivityTracker
      NODE_ENV: development
      DB_MAIN_PRIVATE_HOST: mysql
      DB_MAIN_USER: mysql-eat
      DB_MAIN_PORT: 3306
      DB_MAIN_PASSWORD: etimo
      DB_MAIN_NAME: eat
    depends_on:
      - mysql
    ports:
      - '3101:3101'

volumes:
  mysql:
