name: Build and deploy backend
on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - apps/eat-backend/**

concurrency: deploy-backend
jobs:
  build-docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          context: .
          file: apps/eat-backend/Dockerfile
          tags: eat-backend:${{ github.sha }}
        
        
  deploy:
    runs-on: ubuntu-latest
    needs: build-docker
    steps:
      - uses: Etimo/etimo-kubernetes/.github/actions/deploy/action.yaml@main
        with:
          image: "eat-backend"
          tag: ${{ github.sha }}
          namespace: "activity-tracker"
          cluster: "staging"
          name: "eat-backend"
          ingress: true
          private: false
          targetPort: 80
          kubeconfig: ${{secrets.KUBECONFIG}}