name: Build and deploy web
on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - apps/eat-web/**

concurrency: deploy-web
jobs:
  build-docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

               
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/etimo/eat-web
          tags: type=sha,format=long
          
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          context: .
          file: apps/eat-web/Dockerfile
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
        
        
  deploy:
    runs-on: ubuntu-latest
    needs: build-docker
    steps:
      - uses: Etimo/etimo-kubernetes/.github/actions/deploy@main
        with:
          image: ghcr.io/etimo/eat-web
          tag: sha-${{ github.sha }}
          namespace: activity-tracker
          cluster: staging
          name: web
          ingress: true
          private: false
          targetPort: 3100
          memoryLimit: 512Mi
          env: |
            VITE_BACKEND_URL: "https://backend-activity-tracker.staging.k8s.etimo.se"
          kubeconfig: ${{secrets.KUBECONFIG}}
          